body
{
  background: linear-gradient(white,grey);
  border: black double;
}
nav
{
    background-color: lightblue;
   
    text-decoration-color: teal;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
   
}
li
{
    display: inline;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
